# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env
.env.production

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover
.cache

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local testing
.local/
